<%- include('include/header') %>

<div class="card">
    <div class="card-header">
        <h5>Backload History</h5>
        <input type="text" class="col-md-4 float-right form-control " style="background-color: rgba(6, 6, 206, 0.808); color: aliceblue; " id="dateFilter" onkeyup="dateFilter()" placeholder="Search from Date..">
           <input type="text" class="col-md-4 float-right form-control " style="background-color: rgba(6, 6, 206, 0.808); color: aliceblue; " id="myInput" onkeyup="filterDoc()" placeholder="Search for Items..">
                           
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style" style="overflow-y:scroll;height:500px;">
        <div class="table-responsive">
            <table class="table table-dark" id="myTable">
               
                <thead>
                    <tr>
                        <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">#</th>
                        <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Date Time</th>
                        <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Item</th>
                        <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Type</th>
                        <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Sacks</th>
                        <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Remarks</th>
                        <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Encode By</th>
                        <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Rice Mill</th>
                     

                  
                    </tr>
                   
                </thead>
                <tbody>
               
                    <% for(var i = 0; i <backLoad.length; i++) { %>
                 
                    <tr>
                        <th style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= i + 1 %></th>
                        <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;  "><%=backLoad[i].dateTime %></td>
                        <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen; "><%=backLoad[i].item %></td>
                        <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen; "><%=backLoad[i].type %></td>
                        <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen; "><%=backLoad[i].sacks %></td>
                        <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen; "><%=backLoad[i].remarks %></td>
                        <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen; "><%=backLoad[i].encodeBy %></td>
                        <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen; "><%=backLoad[i].riceMill %></td>
                        
                       <!-- <td>
                      
                            <span class="text-gradient"><i class="fas fa-times" style="color: rgb(245, 5, 5);"></i></span>
                        </a>
                       </td> -->

                    </tr>
                    <% } %>
               
            
                 
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    function filterDoc() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    
     function dateFilter() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("dateFilter");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    
    
        </script>

<%- include('include/footer') %>
