<%- include('include/header') %>

<!-- Page-header end -->
<div class="pcoded-inner-content">
  <!-- Main-body start -->


         
          <!-- Page-body end -->
   


  <div class="card">
      <div class="card-header">
          <h5>Customers List</h5>
          <input type="text" class="col-md-4 float-right form-control " style="background-color: rgba(6, 6, 206, 0.808); color: aliceblue; " id="dateFilter" onkeyup="dateFilter()" placeholder="Search from Date..">
          <input type="text" class="col-md-4 float-right form-control " style="background-color: rgba(6, 6, 206, 0.808); color: aliceblue; " id="myInput" onkeyup="filterDoc()" placeholder="Search for Customer">
            
          <!-- <span>use class <code>table-dark</code> inside table element</span> -->
          <div class="card-header-right">
              <ul class="list-unstyled card-option">
                  <li><i class="fa fa fa-wrench open-card-option"></i></li>
                  <li><i class="fa fa-window-maximize full-card"></i></li>
                  <li><i class="fa fa-minus minimize-card"></i></li>
                  <li><i class="fa fa-refresh reload-card"></i></li>
                  <li><i class="fa fa-trash close-card"></i></li>
              </ul>
          </div>
      </div>
      <div class="card-block table-border-style" style="overflow-y:scroll;height:500px;">
          <div class="table-responsive">
              <table class="table table-dark" id="myTable">
                 
                  <thead>
                      <tr>
                          <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">#</th>
                          <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Customer Name</th>
                          <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Address</th>
                          <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Contact Number</th>
                          <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Date</th>
                          <th style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Credit Limit</th>
                        
                      </tr>
                     
                  </thead>
                  <tbody>
                    <% for(var i = 0; i <custRecord.length; i++) { %>
                        <tr>
                          
                            <th><%= i + 1 %></th>

                            <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= custRecord[i].custName %></td>
                            <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= custRecord[i].custLocation %></td>
                            <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= custRecord[i].custPhone %></td>
                            <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= custRecord[i].custDate %></td>
                            <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= custRecord[i].custCreditLimit %></td>
                      
    
                        </tr>
                        <% } %>
                
                     
              
                   
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  

  <div id="styleSelector">

  </div>
</div>
</div>
</div>
</div>
</div>
</div>




<script>

    function filterDoc() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    
     function dateFilter() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("dateFilter");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    
    
        </script>


<%- include('include/footer') %>