<%- include('include/header') %>




        <h4 class="title">Delivery Details</h4>
      
        <div class="card">
            <div class="card-header">
                <h5>Customer List</h5>
                <input type="text" class="col-md-4 float-right form-control " style="background-color: rgba(6, 6, 206, 0.808); color: aliceblue; " id="dateFilter" onkeyup="dateFilter()" placeholder="Search from Date..">
                <input type="text" class="col-md-4 float-right form-control " style="background-color: rgba(6, 6, 206, 0.808); color: aliceblue; " id="myInput" onkeyup="filterDoc()" placeholder="Search for Customer">
                   
                <!-- <span>use class <code>table-dark</code> inside table element</span> -->
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                        <li><i class="fa fa-window-maximize full-card"></i></li>
                        <li><i class="fa fa-minus minimize-card"></i></li>
                        <li><i class="fa fa-refresh reload-card"></i></li>
                        <li><i class="fa fa-trash close-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block table-border-style" style="overflow-y:scroll;height:500px;">
                <div class="table-responsive">
                    <table class="table table-dark" id="myTable">
                        <thead>
                            <tr>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">#</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Date</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Customer Name</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Item Name</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Route</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Sacks</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Kilos</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Amount</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Previous Remitance</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Is Cleared</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Credit Limit</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Transaction</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Addons</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Less</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Cash Remited</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Check Value</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Check Number</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Check Date</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Item Subtotal</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Grand Total</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Balance</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Contact Number</th>
                                <th  style="background-color: rgba(42, 92, 241, 0.418);color: cornsilk;">Status</th>
                           
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < delivery.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i + 1 %></th>
        
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_date %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_customer %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_itemName %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_route %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_cavans %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_kilos %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_amount %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_previousRemitance %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_isCleared %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_creditLimit %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_transaction %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_addOns %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_less %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_cashRemited %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_checkValue %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_checkNumber %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_checkDate %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_itemSubtotal %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_grandTotal %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_newBalance %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_number %></td>
                                <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%=delivery[i].od_newStatus %></td>
                            </tr>
                            <% } %>
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

        
<script>

    function filterDoc() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    
     function dateFilter() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("dateFilter");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    
    
        </script>

<%- include('include/footer') %>