<%- include('include/header') %>

<!-- Page-header end -->
<div class="pcoded-inner-content">
  <!-- Main-body start -->
  <div class="main-body">
      <div class="page-wrapper">
          <!-- Page-body start -->
          <div class="page-body">
              <!-- Default color card start -->
              <div class="card">
                  <div class="card-header">
                      <h5>Item Out</h5>
                  </div>
                  <div class="card-block">
                      <div class="row text-uppercase text-center">
                         
                          <div class="col-md-2 waves-effect waves-light p-b-10"><p>For Route:</p>
                              <div class="bg-inverse p-10 "><input type="text"></div>
                          </div>
                          <div class="col-md-2 waves-effect waves-light p-b-10"><p>From Date</p>
                              <div class="bg-inverse p-10"><input type="date"></div>
                          </div>
                          <div class="col-md-2 waves-effect waves-light p-b-10"><p>To Date</p>
                              <div class="bg-inverse p-10"><input type="date"></div>
                          </div>
                          <div class="col-md-2 waves-effect waves-light p-b-10"><p>button</p>
                            <div class="bg-primary p-10"><button>Refresh</button></div>
                        </div>
                        <div class="col-md-2 waves-effect waves-light p-b-10"><p>Print</p>
                            <div class="bg-primary p-10"><button>Print</button></div>
                        </div>
                        
                       
                       
                      </div>
                      <!-- end of eow -->
                  </div>
              </div>
              
          </div>

    
          <div class="page-body">
            <!-- Default color card start -->
            <div class="card">
                <div class="card-header">
                    <h5>Total Subtotal</h5>
                </div>
                <div class="card-block">
                    <div class="row text-uppercase text-center">
                        <div class="col-md-2 waves-effect waves-light p-b-10"><p>Subtotal</p>
                            <div class="bg-inverse p-10"><p>#BDC3C7</p></div>
                        </div>
                        <div class="col-md-2 waves-effect waves-light p-b-10"><p>Total Cavans</p>
                            <div class="bg-inverse p-10 "><p>#BDC3C7</p></div>
                        </div>
                        <div class="col-md-2 waves-effect waves-light p-b-10"><p>By Half Cavans</p>
                            <div class="bg-inverse p-10"><p>#BDC3C7</p></div>
                        </div>
                  
                  
                       
                    </div>
                    <!-- end of eow -->
                </div>
            </div>
            
        </div>
          <!-- Page-body end -->
      </div>
  </div>
  <!-- Main-body start -->



  <h4 class="title">Item Out</h4>
      
  <div class="card">
      <div class="card-header">
          <h5>Record List</h5>
          <!-- <span>use class <code>table-dark</code> inside table element</span> -->
          <div class="card-header-right">
              <ul class="list-unstyled card-option">
                  <li><i class="fa fa fa-wrench open-card-option"></i></li>
                  <li><i class="fa fa-window-maximize full-card"></i></li>
                  <li><i class="fa fa-minus minimize-card"></i></li>
                  <li><i class="fa fa-refresh reload-card"></i></li>
                  <li><i class="fa fa-trash close-card"></i></li>
              </ul>
          </div>
      </div>
      <div class="card-block table-border-style" style="overflow-y:scroll;height:500px;">
          <div class="table-responsive">
              <table class="table table-dark">
                  <thead>
                      <tr>
                          <th>#</th>
                          
                          <th>Date</th>
                          <th>Customer Name</th>
                          <th>Item Name</th>
                          <th>Route</th>
                          <th>Sacks</th>
                          <th>Kilos</th>
                          <th>Amount</th>
                          <th>Previous Remitance</th>
                          <th>Is Cleared</th>
                          <th>Credit Limit</th>
                          <th>Transaction</th>
                          <th>Addons</th>
                          <th>Less</th>
                         
                          <th>Cash Remited</th>
                          <th>Check Value</th>
                          <th>Check Number</th>
                          <th>Check Date</th>
                          <th>Item Subtotal</th>
                          <th>Grand Total</th>
                          <th>Balance</th>
                          <th>Contact Number</th>
                          <th>Status</th>
                     
                          
                          
                      </tr>
                  </thead>
                  <tbody>
                      <% for(var i = 0; i < customerHis.length; i++) { %>
                      <tr>
                          <th scope="row"><%= i + 1 %></th>
  
                          <td><%=customerHis[i].od_date %></td>
                          <td><%=customerHis[i].od_customer %></td>
                          <td><%=customerHis[i].od_itemName %></td>
                          <td><%=customerHis[i].od_route %></td>
                          <td><%=customerHis[i].od_cavans %></td>
                          <td><%=customerHis[i].od_kilos %></td>
                          <td><%=customerHis[i].od_amount %></td>
                          <td><%=customerHis[i].od_previousRemitance %></td>
                          <td><%=customerHis[i].od_isCleared %></td>
                          <td><%=customerHis[i].od_creditLimit %></td>
                          <td><%=customerHis[i].od_transaction %></td>
                          <td><%=customerHis[i].od_addOns %></td>
                          <td><%=customerHis[i].od_less %></td>
                          <td><%=customerHis[i].od_cashRemited %></td>
                          <td><%=customerHis[i].od_checkValue %></td>
                          <td><%=customerHis[i].od_checkNumber %></td>
                          <td><%=customerHis[i].od_checkDate %></td>
                          <td><%=customerHis[i].od_itemSubtotal %></td>
                          <td><%=customerHis[i].od_grandTotal %></td>
                          <td><%=customerHis[i].od_newBalance %></td>
                          <td><%=customerHis[i].od_number %></td>
                          <td><%=customerHis[i].od_newStatus %></td>
                    
                      </tr>
                      <% } %>
                   
                  </tbody>
              </table>
          </div>
      </div>
  </div>




<%- include('include/footer') %>