<%- include('include/header') %>

<!-- Page-header end -->
<div class="pcoded-inner-content">
  <!-- Main-body start -->



  <div class="card-block table-border-style" style="overflow-y:scroll;height:500px;">
    <div class="table-responsive">
        <h5>Item History View</h5>
        <input type="text" class="col-md-4 float-right form-control " style="background-color: rgba(6, 6, 206, 0.808); color: aliceblue; " id="myInput" onkeyup="filterDoc()" placeholder="Search for Items..">
        <input type="text" class="col-md-4 float-right form-control " style="background-color: rgba(6, 6, 206, 0.808); color: aliceblue; " id="dateFilter" onkeyup="dateFilter()" placeholder="Search from Date..">
         
        <table class="table table-dark" id="myTable">
           
            <thead>
                <tr>
                    <th style="background-color: blue;">#</th>
                    <th style="background-color: blue;">Date</th>
                    <th style="background-color: blue;">Item</th>
                    <th style="background-color: blue;">Type</th>
                    <th style="background-color: blue;">Sacks</th>
                    <th style="background-color: blue;">Buying Price</th>
                    <th style="background-color: blue;">Total Kilos</th>
                    <th style="background-color: blue;">Total Buying Price</th>
                    <th style="background-color: blue;">Over All Price Retail</th>
                    <th style="background-color: blue;">Gross</th>
                
                </tr>
               
            </thead>
            <tbody>
                <% for(var i = 0; i < stocks.length; i++) { %>
                <tr>
                  
                   <th style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= i + 1 %></th>
                   <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= stocks[i].i_date %></td>
                   <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= stocks[i].i_item %></td>
                   <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= stocks[i].i_type %></td>
                   <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= stocks[i].i_sacks %></td>
                   <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= stocks[i].i_buyingPrice %></td>
                   <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= stocks[i].i_totalKilos %></td>
                   <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= stocks[i].i_totalBuyingPrice %></td>
                   <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= stocks[i].i_overAllPriceRetail %></td>
                   <td style="background-color: rgba(42, 92, 241, 0.418);color: yellowgreen;"><%= stocks[i].i_gross %></td>
                  
              
                  

                 

                </tr>
                <% } %>
        
             
            </tbody>
        </table>
    </div>
</div>
</div>



<script>

    function filterDoc() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    
     function dateFilter() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("dateFilter");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    
    
        </script>


<%- include('include/footer') %>