



<%- include('include/header') %>

        <h4 class="title">Transactions History</h4>
      
<div class="card">
    <div class="card-header">
        <h5>Transaction</h5>
        <!-- <span>use class <code>table-dark</code> inside table element</span> -->
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style" style="overflow-y:scroll;height:500px;">
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th style="background-color: rgb(71, 4, 197);">#</th>
                        
                        <th style="background-color: rgb(71, 4, 197);">Date</th>
                        <th style="background-color: rgb(71, 4, 197);">Item Name</th>
                        <th style="background-color: rgb(71, 4, 197);">Customer</th>
                        <th style="background-color: rgb(71, 4, 197);">Price</th>
                        <th style="background-color: rgb(71, 4, 197);">Cash Remited</th>
                        <th style="background-color: rgb(71, 4, 197);">Check Value</th>
                        <th style="background-color: rgb(71, 4, 197);">Check Date</th>
                        <th style="background-color: rgb(71, 4, 197);">Check Number</th>
                        <th style="background-color: rgb(71, 4, 197);">New Status</th>
                        <th style="background-color: rgb(71, 4, 197);">New Balance</th>
                       
                      
                        
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < trans.length; i++) { %>
                    <tr>
                        <th scope="row" style="background-color:rgb(71, 4, 197);;"><%= i + 1 %></th>

                        <td style="background-color: rgb(31, 31, 194);color: rgba(253, 217, 192, 0.438);"><%=trans[i].od_date %></td>
                        <td style="background-color: rgb(82, 82, 230);color: rosybrown;"><%=trans[i].od_itemName %></td>
                        <td style="background-color: rgb(14, 14, 116);color: rosybrown;"><%=trans[i].od_customer %></td>
                        <td style="background-color: rgb(6, 6, 189);color: rosybrown;"><%=trans[i].od_price %></td>
                        <td style="background-color: rgba(7, 7, 131, 0.856);color: rosybrown;"><%=trans[i].od_cashRemited %></td>
                        <td style="background-color: rgba(97, 47, 235, 0.801);color: rosybrown;"><%=trans[i].od_checkValue %></td>
                        <td style="background-color: rgb(11, 11, 153);color: rgba(7, 236, 129, 0.644);"><%=trans[i].od_checkDate %></td>
                        <td style="background-color: rgb(23, 23, 145);color: rgba(7, 236, 129, 0.644);"><%=trans[i].od_checkNumber %></td>
                        <td style="background-color: rgba(19, 58, 185, 0.377);color: rgba(7, 236, 129, 0.644);"><%=trans[i].od_newStatus %></td>
                        <td style="background-color: rgba(8, 61, 122, 0.705);color: rgba(7, 236, 129, 0.644);"><%=trans[i].od_newBalance %></td>

                 
                     
                  
                    </tr>
                    <% } %>
                 
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('include/footer') %>


